.common__section {
  background: linear-gradient(rgb(0, 13, 107, 0.6), rgb(0, 13, 107, 0.6)),
    url("../assets/all-images/machines-img/common-section-bg.jpg"); /* <-- !!! THAY ẢNH NỀN CHUNG CHO CÁC TRANG Ở ĐÂY !!! */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}